body{
    background-color: lightblue;
}
.caja{
    border: blue solid;
    color: lightblue;
    display: flex;
}
.caja img{
    width: auto;
    height: auto
    border: blue solid;
}
ul{

    font-size: xx-large;
    color: blue;
    justify-content: center;
    align-items: center;
    margin-top: 60%;
    margin-left: 170%;
}

.input-padron{
    border: 3px solid blue;
    border-radius: 24px;


.checkbox{
    margin-left: 100%;
    justify-content: flex-start;
    border-radius: 24px;
}

