body{
    background-color: lightblue;
}
.titulo-principal{
    padding-left: 30px;
    font-size: xx-large;
    text-justify: distribute-all-lines;
    align-items: center;
}
.titulo-principal{
    color: blue;
}
.header{
    background-color: lightblue;
}

.logo{
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-left: 40%;

    
}

.principal{
    background: lightblue;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}
.titulo-centralizado{
    color: blue;
}

p{
    text-align: center;
}

em strong{
    color: blue
}

#mision{
    font-size: 20px;
    color: blue
}

.diferenciales{
    background: lightblue;
    padding: 30px;
}
.imagendiferencial{
    border: blue solid;
}
.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


ul{

    font-size: xx-large;
    color: blue;
    justify-content: center;
    margin-left: 20%;
}



